.Container{
  border: 1px solid black;
  width: 50%;
  height:400px;
  margin: 0 auto;
  display: flex;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.left-side{
  border: 1px solid red;
  border-radius: 25px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
  text-align: center;
}
.left-side_score{
  border: 1px solid black;
}

.right-side{
  border: 1px solid green;
  
}